<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>
  <main class="container">
    <div style="display: flex; align-items:center;">
      <% if(currentUser) { %>
        <% include ../votes/voting.ejs %>
      <% } %>
    </div>
    <div>
      <h1 class="d-inline-block"><%= post.title %></h1>
      <% post.flairs && post.flairs.forEach((flair) => { %>
        <span class="badge align-text-top" style="background-color: <%= flair.color %>">
          <%= flair.name %>
          <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/flairs/<%= flair.id %>/destroy" method="post">
            <button type="submit" class="badge badge-light">x</button>
          </form>
        </span>
        <% }) %>
      </div>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/flairs/new" class="btn btn-success">Add Flair</a>
      <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <p><%= post.body %></p>
      <section id="comment-form">
        <% if(currentUser) { %>
          <% include ../comments/new.ejs %>
          <% } %>
        </section>

        <section id="comment-list">
          <% if(post.comments) { %>
            <% post.comments.forEach((comment) => { %>
              <%- include("../comments/show.ejs", {comment}) %>
              <% }) %>
              <% } %>
            </section>
          </main>
          <% include ../static/partials/baseScripts.ejs %>
        </body>
        </html>
